.status {
  display: flex;
  align-items: center;
  border-radius: 5px;

  select {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

    option {
      color: #000;
    }
  }
}

.readyToGo {
  background-color: #bcbcbc;
}

.inProgress {
  background-color: #ffc83c;
}

.done {
  background-color: #3b813b;
}
